body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #757575;
    border-bottom: 2px solid red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav a {
    margin-left: 20px;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
    background-color: #000000;
}